<div class="container">

    <div class="navbar-menu">
        <div class="navbar-item">
          <a [routerLink]="['/explanation']">
            <h3>Explicación</h3>
          </a>
        </div>
        
        <div class="navbar-item">
          <a [routerLink]="['/constellations']">
            <h3>Constelaciones</h3>
          </a>
        </div>
        
        <div class="navbar-item">
          <a [routerLink]="['/login']">
            <h3>Eventos</h3>
          </a>
        </div>
        <!-- <div class="navbar-item">
          <a [routerLink]="['/events']">
            <h3>Events</h3>
          </a>
        </div> -->
    </div>

  </div>

