<h1>¿Qué es una constelación?</h1>

<div class="container1">
<p>Una constelación es un conjunto de estrellas localizadas aparentemente en una posición concreta del cielo. A lo largo de las siglos y las diferentes civilizaciones, sus estrellas han sido unidas por líneas imaginarias formando figuras mitológicas. 
Aunque, desde nuestra posición en la Tierra parezca que dicho conjunto de estrellas que forman una constelación están próximas entre sí, lo cierto es que esta afirmación es totalmente falsa. Las estrellas que componen una constelacion pueden llegar a estra a una distancia de miles de años luz entre ellas, incluso dos estrellas de diferentes constelaciones pueden estar mas cercas que dos estrellas de la misma constelacion. Esto se debe a que desde nuestra perspectiva en la Tierra las vemos proyectadas sobre un plano y solo apreciamos la separación lateral entre ellas. Sin embago, una estrella puede estar muchísimo mas adelantada que la otra. La imagen siguiente ilustra muy bien la distancia real entre las estrellas y cómo nosotros las percibimos sobre el mismo plano, a la misma distancia de la Tierra. Es por esto 
que no se puede definir la distancia a una constelación, cada estrella está a una distancia diferente de la Tierra.</p>

<img class="second_image" src="../../../../assets/img/Movimiento_sol.png" alt="constelación cada mes">
</div>

<img class="first_image" src="../../../../assets/img/perspectiva.jpg" alt="perspectiva distancia constelaciones">


<h1>¿Por qué cada mes del año tiene asociado una constelación?</h1>
<p>Es un hecho científico demostrado que a lo largo de un año, la Tierra realiza una vuelta completa entorno al Sol con un periodo de 365 días, 5 horas, 48 minutos y 46 segundos. Este cambio en la posición de la Tierra con respecto al Sol ocasiona las estaciones del año. 
En astrofísica, es muy común jugar con los puntos de referencia del espectador y estudiar dicha traslación de la Tierra suponiendo que esta se encuentra estática y el sol realiza el giro entorno a la Tierra, tal y como se muestra en la imagen. Cabe destacar que se trata de una manera de concebir la física para agilizar los cálculos. 
<br>
Para entender las constelaciones vamos a suponer esta aproximación. Por tanto, aparentemente el Sol se mueve en torno a la Tierra en una órbita denominada Eclíptica. En cada mes del año, el Sol recorre un tramo de esta eclíptica hasta recorrerla por completo en el mes doceavo. 
<br>
Por otro lado, en el cielo podemos observar hasta 88 constelaciones repartidas entre el hemisferio norte y el hemisferio sur, entre ellas la Osa Menor, constelación en la cual se encuentra Polaris, la estrella que marca el norte.
De estas constelaciones, doce de ellas se encuentran aparentemente visibles sobre la eclíptica, dando lugar a las doce constelaciones del zodiaco.
Cuando el Sol recorre la eclíptica, cada mes pasa por delante de una constelación.
En enero, el Sol se encuentra sobre la constelación de Capricornio; en febrero, sobre Acuario; marzo, sobre Piscis; abril, sobre Aries; mayo, sobre Tauro; junio, sobre Géminis; julio, sobre Cáncer; agosto, sobre Leo; septiembre, sobre Virgo; octubre, sobre Libra; noviembre, sobre Escorpio; y, finalmente, diciembre sobre Sagitario.
<br>
Así, el Sol tarde doce meses en recorrer la eclíptica pasando cada mes por delante de una constelación diferente. Si naces el 21 de Septiembre, ese día el Sol está sobre la constelación de Virgo. A los diez días, 31 de octubre, el Sol comenzará su camino por delante de Escorpio.</p> 

<h1>Energía recibida de las constelaciones del Zodiaco</h1>
<p>Todos los cuerpos celestes del universo crean energía por el simple hecho de tener materia. Además, la energía electromagnética y gravitatoria, además de la oscura (70% del universo) vagan por el universo.
Pero, ¿qué porción de esta energía nos llega a la Tierra? En este cálculo comparo el flujo de energía recibido por la estrella alfa de Aries en comparación con el flujo de energía recibido por el Sol.</p>
<br>
<img class="eccuation" src="../../../../assets/img/Ecuaciones.png" alt="perspectiva distancia constelaciones">
<br>
<p>Como podemos observar, la energía recibida es 10 elevado a 12 veces más pequeña que la energía que recibimos del Sol diariamente. Es decir, la energía de las constelaciones en la Tierra es practicamente despreciable.
Esto nos lleva a la conclusión de que no existen evidencias científicas de que las constelaciones afecten o influyan en la vida de las personas.</p>
